@model FlightBooking.Models.AryanBooking

@{
    ViewData["Title"] = "Booking Details";
}

<h1>Booking Details with API</h1>

<div>
    <h4>Your Booking details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            Destination Airport
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalAirport.AirportName)
        </dd>
        <dt class = "col-sm-2">
            Destination City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalAirport.City)
        </dd>
        <dt class = "col-sm-2">
            Destination Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalAirport.Country)
        </dd>
        <dt class = "col-sm-2">
            Source Airport
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureAirport.AirportName)
        </dd>
        <dt class = "col-sm-2">
            Source City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureAirport.City)
        </dd>
        <dt class = "col-sm-2">
            Source Country
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureAirport.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passenger.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CustomerBookingsApi">Back to Your Bookings with Api</a>
</div>

<div>
    @Html.ActionLink("Cancel This Booking", "CancelBookingApi", new { id = Model.BookingId }) 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}